<div class="container task" ng-init="vm.getTicketInfo()">
    <br />
    <div class="row">
        <div class="col-xs-1">
            <button class="btn btn-success">Ticket List</button>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-8">
            <h3 style="line-height: 34px; margin: 0;">Ticket ({{vm.oTicket.nId}}) - {{vm.oTicket.sName}}</h3>
        </div>
        <div class="col-xs-2">
            <button style="width: 160px;" class="btn btn-success">Edit</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-3 text-right"><h5>Created on:</h5></div>
        <div class="col-xs-7"><h5>{{vm.oTicket.dCreatedOn}}</h5></div>
        <div class="col-xs-2">
            <button style="width: 160px;" class="btn btn-success">Leave Feedback</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><h5>Status:</h5></div>
        <div class="col-xs-7"><h5>{{vm.oTicket.sState}}</h5></div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><h5>Category:</h5></div>
        <div class="col-xs-7"><h5>{{vm.oTicket.oCategory.sName}}</h5></div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><h5>Urgency:</h5></div>
        <div class="col-xs-7"><h5>{{vm.oTicket.sUrgency}}</h5></div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><h5>Desired resolution date:</h5></div>
        <div class="col-xs-7"><h5>{{vm.oTicket.dDesiredDate}}</h5></div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><h5>Owner</h5></div>
        <div class="col-xs-7"><h5>{{vm.getTicketOwner()}}</h5></div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><h5>Approver:</h5></div>
        <div class="col-xs-7"><h5>{{vm.getTicketApprover()}}</h5></div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><h5>Assignee:</h5></div>
        <div class="col-xs-7"><h5>{{vm.getTicketAssignee()}}</h5></div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><h5>Attachments:</h5></div>
        <div class="col-xs-7"><h5></h5></div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><h5>Description:</h5></div>
        <div class="col-xs-7">
            <textarea rows="3" cols="40" class="form-controls" disabled>{{vm.oTicket.sDescription}}</textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6">
            <button style="width: 100%;"
                    class="btn pull-right"
                    ng-class="vm.bHistoryViewMode ? 'btn-primary': 'btn-default'"
                    ng-click="vm.changeViewMode()">History</button>
        </div>
        <div class="col-xs-6">
            <button style="width: 100%;"
                    class="btn pull-right"
                    ng-class="!vm.bHistoryViewMode ? 'btn-primary': 'btn-default'"
                    ng-click="vm.changeViewMode()">Comments</button>
        </div>
    </div>
    <a ng-click="vm.showFullList()"><h3>Show All</h3></a>
    <table class="table table-bordered" ng-if="vm.bHistoryViewMode">
        <thead>
        <tr>
            <th>Date</th>
            <th>User</th>
            <th>Action</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="oItem in vm.aHistories">
            <th>{{oItem.dDate}}</th>
            <td>{{oItem.oUser.sFirstName + ' ' + oItem.oUser.sLastName}}</td>
            <td>{{oItem.sAction}}</td>
            <td>{{oItem.sDescription}}</td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered" ng-if="!vm.bHistoryViewMode">
        <thead>
        <tr>
            <th>Date</th>
            <th>User</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="oItem in vm.aComments">
            <th>{{oItem.dDate}}</th>
            <td>{{oItem.oUser.sFirstName + ' ' + oItem.oUser.sLastName}}</td>
            <td>{{oItem.sText}}</td>
        </tr>
        </tbody>
    </table>
    <br />
    <div class="row" ng-if="!vm.bHistoryViewMode">
        <div class="col-xs-7">
            <textarea rows="3" cols="40" class="form-controls" ng-model="vm.sNewComment"></textarea>
        </div>
        <div class="col-xs-2">
            <button style="width: 160px;" class="btn" ng-click="vm.addComment(vm.oTicket.nId, vm.sNewComment)">Add Comment</button>
        </div>
    </div>
    <br />
</div>