.container {
    min-height: 100vh;
}
/* */
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 500px;
}
/* */
.all-tickets-page {
    width: 1000px;
}

.all-tickets-page .search-input {
    width: 350px;
    border-radius: 20px;
}

.all-tickets-page .table .btn {
    position: relative;
    text-align: left;
}

.all-tickets-page .table .btn .glyphicon {
    transform: rotateZ(90deg);
    position: absolute;
    text-align: left;
    right: 10px;
    top: 10px;
}

.all-tickets-page .table .link {
    color: #337ab7;
}

.all-tickets-page .table thead {
    background-color: #ddd;
}

.all-tickets-page .table th {
    font-weight: normal;
    position: relative;
}

.all-tickets-page .table th .glyphicon {
    font-size: 12px;
    cursor: pointer;
}

.all-tickets-page .table th .up {
    transform: rotateZ(-90deg);
    transform-origin: 50% 50%;
    font-weight: normal;
    position: absolute;
    right: 6px;
    top: 6px;
}

.all-tickets-page .table th .down {
    transform: rotateZ(90deg);
    transform-origin: 50% 50%;
    font-weight: normal;
    position: absolute;
    right: 24px;
    bottom: -14px;
}
/* */
.editor .warning {
    color: red;
}
/* */
.task thead {
    background-color: #ddd;
}

.task .table th {
    font-weight: normal;
    position: relative;
}

/* */
.rating .star {
    display: inline-block;
    width: 10%;
}
.rating .star .star-icon {
    margin-left: -6px;
    font-size: 100px;
    line-height: 100px;
    color: #ccc;
    display: block;
}
.rating .star .star-label {
    text-align: center;
    font-size: 14px;
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}