<div class="container editor">
    <div class="row">
        <div class="col-xs-2">
            <a style="width: 120px;" class="btn btn-success" ng-href="/">Ticket List</a>
        </div>
        <div class="col-xs-6">
            <h3 style="line-height: 34px; margin: 0;">Create new Ticket</h3>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="col-xs-2">-->
            <!--<button style="width: 120px;" class="btn btn-success">Ticket Overview</button>-->
        <!--</div>-->
        <!--<div class="col-xs-6">-->
            <!--<h3 style="line-height: 34px; margin: 0;">Edit Ticket (2)</h3>-->
        <!--</div>-->
    <!--</div>-->
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
        <br />
        <br />
        <div class="row">
            <div class="col-xs-2 text-right">
                <h5>Category <span class="warning">*</span></h5>
            </div>
            <div class="col-xs-4">
                <select class="form-control"
                        id="category"
                        required
                        ng-model="vm.categories.selected"
                        ng-options="obj as obj.sName for obj in vm.categories.list track by obj.nId"></select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-2 text-right">
                <h5>Name <span class="warning">*</span></h5>
            </div>
            <div class="col-xs-4">
                <input type="text" class="form-control" ng-model="vm.ticket.sName" required/>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-2 text-right">
                <h5>Description</h5>
            </div>
            <div class="col-xs-5">
                <textarea class="form-control" rows="3" ng-model="vm.ticket.sDescription"></textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-2 text-right">
                <h5>Urgency <span class="warning">*</span></h5>
            </div>
            <div class="col-xs-4">
                <select class="form-control"
                        id="urgency"
                        required
                        ng-model="vm.urgency.selected"
                        ng-options="name for name in vm.urgency.list"></select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-2 text-right">
                <h5>Desired resolution date</h5>
            </div>
            <div class="col-xs-4">
                <input type="text" class="form-control"  ng-model="vm.ticket.dDesiredDate"/>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-2 text-right">
                <h5>Add attachments</h5>
            </div>
            <!--<div class="col-xs-4">-->
                <!--<input type="file" class="btn btn-default" style="width: 140px;" ng-model="vm.fAttachment"/>-->
            <!--</div>-->
            <div class="well col-xs-5">
                <div>
                    <div style="float:right;">
                        <!--<button ng-click="btn_upload()">Upload</button>-->
                        <button ng-if="files.length > 0" ng-click="btn_clean()">Remove all</button>
                    </div>
                    <input type="file" id="file1" multiple/>
                </div>
                <div ng-repeat="file in files" style="margin-top: 20px;border-bottom-color: antiquewhite;border-bottom-style: double;">
                    <div><span>{{file.name}}</span><div style="float:right;"><span>{{file.humanSize}}</span><a ng-click="btn_remove(file)" title="Remove from list to be uploaded"><i class="icon-remove"></i></a></div>
                    </div>
                    <progress style="width:400px;" value="{{file.loaded ? file.loaded : 0}}" max="{{file.size}}"></progress>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-2 text-right">
                <h5>Comment</h5>
            </div>
            <div class="col-xs-5">
                <textarea class="form-control" rows="3" ng-model="vm.ticket.sComment"></textarea>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-xs-10">
                <div style="width: 160px;" class="btn btn-success pull-right" ng-click="vm.submit()">Submit</div>
                <div style="width: 160px; margin-right: 20px;" class="btn btn-default pull-right" ng-click="vm.saveDraft()">Save as Draft</div>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>