<div ng-init="ctrl.getTicket();">

    <h1 class="page-header">Edit ticket</h1>
    <form th:action="@{/ticket/edit}" th:object="${ticket}" enctype="multipart/form-data" method="post">

        <div class="form-group">
            <label for="abc">Category</label>
            <select id="abc" class="form-control" name="category">
                <option th:each="category : ${categories}"
                          th:value="${category.getDescription()}"><span th:text="${category.getDescription()}" /></option>
            </select>
        </div>

        <div class="form-group">
            <label for="abc1">Name</label>
            <input type="text" id="abc1" class="form-control" th:field="*{name}"/>
        </div>

        <div class="form-group">
            <label for="abc2">Description</label>
            <input type="text" id="abc2" class="form-control" th:field="*{description}"/>
        </div>

        <div class="form-group">
            <label for="abc3">Urgency</label>
            <select id="abc3" class="form-control" ng-model ="ctrl.ticket.urgency">
                <option value="CRITICAL">CRITICAL</option>
                <option value="HIGH">HIGH</option>
                <option value="MEDIUM">MEDIUM</option>
                <option value="LOW">LOW</option>
            </select>
        </div>

        <div class="form-group">
            <label for="abc4">Desired resolution date</label>
            <input type="date" id="abc4" name="desiredDate" class="form-control" ng-model ="ctrl.ticket.desiredDate" required/>
        </div>

        <div class="form-group">
            <label for="abc5">Add attachments</label>
            <input type="file" id="abc5" name="file" class="form-control-file" ng-model="ctrl.attachment" />
        </div>

        <div class="form-group">
            <label for="abc6">Comment</label>
            <input type="text" id="abc6" name="comment" class="form-control" ng-model="ctrl.comment"/>
        </div>

        <div class="form-group">
            <button type="submit" name="save" value="save" class="btn btn-success" ng-click="ctrl.saveTicket()">Save changes</button>
            <button type="submit" name="cancel" value="cancel" class="btn btn-warning" ng-click="ctrl.discardChanges()">Discard changes</button>
        </div>

    </form>

</div>