<form>
    <div ng-init="ctrl.getTicket()">
        <div>
            <h1 class="page-header">Ticket - <span ng-bind="ctrl.ticket.name"></span></h1>
            <div class="form-group">
                <span class="edit-ticket-text">Created on:</span> <span ng-bind="ctrl.ticket.createdOn"></span>
            </div>
            <div class="form-group">
                <span class="edit-ticket-text">Status:</span> <span ng-bind="ctrl.ticket.status"></span>
            </div>
            <div class="form-group">
                <span class="edit-ticket-text">Category</span> <span ng-bind="ctrl.ticket.category"></span>
            </div>
            <div class="form-group">
                <span class="edit-ticket-text">Urgency:</span> <span ng-bind="ctrl.ticket.urgency"></span>
            </div>
            <div class="form-group">
                <span class="edit-ticket-text">Desired resolution date:</span> <span ng-bind="ctrl.ticket.desiredDate"></span>
            </div>
            <div class="form-group">
                <span class="edit-ticket-text">Owner:</span> <span ng-bind="ctrl.ticket.owner.firstName"></span>
            </div>
            <div class="form-group">
                <span class="edit-ticket-text">Approver:</span> <span ng-bind="ctrl.ticket.approver.firstName"></span>
            </div>
            <div class="form-group">
                <span class="edit-ticket-text">Assignee:</span> <span ng-bind="ctrl.ticket.assignee.firstName"></span>
            </div>
            <div class="form-group">
                <span class="edit-ticket-text">Description:</span> <span ng-bind="ctrl.ticket.description"></span>
            </div>
            <button type="button" ng-click="ctrl.edit(id)" class="btn btn-success custom-width">Edit</button>
            <button type="button" ng-click="ctrl.showHomePage()" class="btn btn-info custom-width">Back</button>
        </div>

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Action</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="history in ctrl.ticket.ticketHistory">
                    <td><span ng-bind="history.date"></span></td>
                    <td><span ng-bind="history.user.firstName"></span></td>
                    <td><span ng-bind="history.action"></span></td>
                    <td><span ng-bind="history.details"></span></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="comment in ctrl.ticket.ticketComments">
                    <td><span ng-bind="comment.commentDate"></span></td>
                    <td><span ng-bind="comment.commentUser.firstName"></span></td>
                    <td><span ng-bind="comment.text"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>