
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Desired Date</th>
        <th>Urgency</th>
        <th>Status</th>
        <th width="100"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ticket in ctrl.tickets">
        <td><span ng-bind="ticket.id"></span></td>
        <td><span ng-bind="ticket.name"></span></td>
        <td><span ng-bind="ticket.desiredDate"></span></td>
        <td><span ng-bind="ticket.urgency"></span></td>
        <td><span ng-bind="ticket.state"></span></td>
        <td>
            <button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="ctrl.goToTicket(ticket.id)" class="btn btn-danger custom-width">Show</button>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <span><a href="/" th:href="@{/create}">Create new ticket</a></span>
</div>